:root {
  --gradient: linear-gradient(
    45deg,
    #edd3ff,
    #efc4ee,
    #ffaffc,
    #ecdfff,
    #bf99d5,
    #ffdbfb
  );
}

.gradient-animation {
  background-size: 200%;
  background-image: var(--gradient);
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
