/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Unbounded:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

@import url("make-something-fly.css");
@import url("animated-gradient.css");

@import url("scroll-to-top.css");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Hubot Sans", sans-serif;
  --heading-typeface: "Hubot Sans", sans-serif;
  --project-title-typeface: "Hubot Sans", sans-serif;
  --background-color: #f0f0f0;
  --background-color-about: #f0f0f0;
  --background-color-footer: #f0f0f0;
  --alt-background-color: #2e2a33;
  --background-color-holding-page: #f0f0f0;
  --holding-page-title-color: #f0f0f0;
  --accent-color: #2e2a33;
  --overlay-color: #2e2a33;
  --overlay-title-color: #f0f0f0;
  --overlay-description-color: #f0f0f0;
  --hyperlink-color: #2e2a33;
  --hover-color: #2e2a33;
  --visited-color: #2e2a33;
  --project-title-color: #2e2a33;
  --holding-page-footer-color: #2e2a33;
  --text-selection-background-color: #2e2a33;

  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: #2e2a33;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  letter-spacing: 0.03rem;
}

::selection {
  background: #bfb7c7;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 4rem;
  line-height: 100%;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  font-weight: 500;
  font-variation-settings: "wdth" 75;
  text-transform: uppercase;
}

h2 {
  font-size: 0.9rem;
  font-family: var(--heading-typeface);
  line-height: 1.3;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

h3 {
  font-size: 0.9rem;
  line-height: 1.3;
  letter-spacing: 0.03rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
}

h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 350;
}

.hero-headline {
  color: var(--overlay-color);
}

.project-title {
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.overlay-title {
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
  font-size: 2rem;
  font-family: var(--heading-typeface);
  line-height: 1.3;
  font-weight: 300;
  text-transform: uppercase;
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
  margin: 0rem 0rem 1rem 0rem;
}
.socials-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1rem;
}
.social-item {
  line-height: 1.3;
  padding-right: 0rem;
  font-size: 1rem;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-bio {
  padding-left: 1rem;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/
.hero-gif {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
  display: block;
}

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.hero-header {
  position: sticky;
  top: 0;
  padding: 20px 27px;
  color: #f0f0f0;
  background-color: #f0f0f0;
  z-index: 5;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  position: sticky;
  color: #2e2a33;
}

.navigation-item {
  width: 10%;
}

.navigation-item:last-child {
  text-align: right;
}

.logo {
  width: 1.3rem;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  text-align: left;

  background-color: #f0f0f0;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-top: 20rem;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 25px 27px;
  line-height: 0.5;
  background-color: #f0f0f0;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-wrapper {
  flex: 1;
  background-color: #f0f0f0;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 17px;
  background-color: #f0f0f0;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.work-page-grid-item {
  min-width: 50%;
  height: fit-content;
  position: relative;
  margin: 10px;
  margin-bottom: 0px;
}

.thumbnail {
  border: 2px solid #2e2a33;
}

.project-description {
  display: flex;
  flex-direction: row;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-top: 1rem;
  align-self: baseline;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #2e2a33;
  transition: opacity 0.3s, visibility 0.3s;
  width: 100%;
  height: fit-content;

  overflow: hidden;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 100%;
}

.Project-thumbnail {
  height: 400px;
  overflow: hidden;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about-wrapper {
  background: #f0f0f0;
  padding: 1rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  gap: 10px;
  padding-top: 5rem;
}

.about-hero {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  padding-bottom: 5rem;
}

.about-portrait {
  width: 50%;
}

.about-title {
  width: 50%;
  padding-left: 2rem;
}

.pointer-arrow {
  display: inline-block;

  transform: rotate(0deg);
}
.grid-1 {
  grid-row: 1 / span 2;
  grid-column: 4;
  background-image: url(/assets/about/Scarlett-Portrait.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.grid-2 {
  grid-row: 1;
  grid-column: 1;
}

.grid-3 {
  grid-row: 1;
  grid-column: 2;

  list-style-type: "-->         ";

  padding-left: 3rem;
}

.grid-4 {
  grid-row: 2;
  grid-column: 1 / span 2;
  padding-top: 2rem;
}

.portrait {
  width: 100%;
}

.bio {
  position: relative;
}

.absolute {
  position: absolute;
  top: 2.3rem;
  left: 0rem;
}

.bio-paragraph {
  text-indent: calc(25% + 0.5rem);
}

.footer-item-about {
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding-top: 4rem;
}

.scark-footer {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: end;
  justify-content: flex-end;
}

.scark-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.about-footer-links {
  width: 30%;
}

.float {
  float: right;
}

.awards-list {
  line-height: 160%;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  min-height: 10vh;
  background-color: #f0f0f0;

  padding: 20px 27px;
  margin: 0px;
  grid-template-columns: 2fr 1fr 1fr;
}

.footer-item-1 {
  line-height: 1.3;
}

.awards-list {
  margin-bottom: 0rem;
}

.scark-logo {
  width: 6rem;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.project-wrapper-full-width {
  background-color: #f0f0f0;
}
/* Sidebar */
.project-aside {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  background-color: #f0f0f0;
}

.project-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  background-color: #f0f0f0;
}

.project-icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  background-color: #f0f0f0;
  padding-bottom: 10px;
}

.project-grid-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  border: 2px solid green;
  min-height: 20rem;
}

.grid-item {
  flex: 1;
  height: auto;
  object-fit: contain;

  width: auto;
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  padding: 3rem;
}

.project-description-container-gap-large {
  display: flex;
}

.project-description-container {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
}

.project-title-col-2 {
  padding-bottom: 1rem;
  min-width: 50%;
}

.project-description-col-2 {
  padding-bottom: 1rem;
  min-width: 10rem;
}

.project-full-width {
  padding: 0rem 7rem;
}

.project-intro {
  margin: 27px;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  padding: 1rem;
}

.project-image iframe {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  object-fit: cover;
}

.video-wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: none;
  aspect-ratio: 2046/1075;
  overflow: hidden;
}

.project-footer {
  padding: 4rem 2rem 1rem;
  color: #2e2a33;
  background-color: #f0f0f0;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  vertical-align: baseline;
  color: #2e2a33;
}

.about-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  vertical-align: baseline;
}

.wide {
  border: 2px solid red;
}

.narrow {
  border: 2px solid rgb(0, 166, 255);
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.gif {
  padding-top: 10rem;
  padding-top: 5rem;
  width: 15rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices  */

@media (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 2rem;
  }

  .project-description-container-gap-large {
    flex-direction: column;
  }

  .about-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2rem;
  }

  .about-title {
    padding-left: 0cm;
    padding-bottom: 1rem;
    width: 100%;
  }

  .project-grid {
    column-gap: 0.5rem;
  }

  .project-grid-2 {
    column-gap: 0.5rem;
  }

  .project-grid-flex {
    gap: 0rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .pointer-arrow {
    transform: rotate(-90deg);
  }
  .project-full-width {
    padding: 0px 15px;
  }

  .about-portrait {
    width: 100%;
  }

  .about-hero {
    flex-direction: column-reverse;
  }

  .project-intro {
    margin: 15px;
  }

  .hero-header {
    padding: 20px 15px;
  }

  .navigation-item {
    width: 20%;
  }

  .about-footer-navigation {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 10px;
  }
  .scark-footer {
    width: 100%;
  }

  .about-footer-links {
    width: 100%;
  }

  .scark-div {
    width: 100%;
    justify-content: flex-start;
  }
}

/* Mobile */

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  body,
  p {
    font-size: 0.8rem;
    line-height: 1.2;
    padding-bottom: 0px;
    min-height: 0vh;
    margin-bottom: 0rem;
  }

  .project-description-container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .project-footer {
    padding: 1rem;
  }

  .absolute {
    top: 0.85rem;
  }

  .grid-2 {
    padding-top: 15px;
  }

  .grid-3 {
    padding-bottom: 1rem;
  }

  .project-image {
    padding-bottom: 1rem;
  }

  .bio-paragraph {
    text-indent: calc(45% + 0.5rem);
  }

  .project-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 0rem 5rem;
  }

  .project-icon-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }

  .hero-footer-navigation {
    padding: 20px 15px;
  }

  .work-page-grid-item {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
